
NETWORK_NAME=<You docker network name, you can create a new network here as needed>

MONGODB_DB=<databese name here>
MONGO_DATA_DIR=~<path to your mongo db dir>/mongodb/data
MONGODB=mongodb://localhost:27017/<databa-name-here>